/*----------------
css
作成日：12/17
作成者：てらしゅん
サイト名：オリジナル(有名)
----------------*/


main .title {
    text-align: center;
    margin: 50px;
    font-size: 32px;
}

main .section1 .index {
    display: flex;
}

main .section1 .index .leftside {
    width: 50%;
}

main .section1 .index .rightside {
    width: 50%;

}

main .section1 .index .rightside  .img{
    width: 80%;
    margin: 0 auto;
}

main .section2 {
    display: flex;
}

main .section2 .buy {
    background-color: white;
    border-radius: 20px;
    font-size: 24px;
    color: #934713;
    width: 40%;
    height: 30%;
    margin: auto;
}

main .section2 .buy p {
    text-align: center;
}

main .section2 ul {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

main .section2 li {
    height: auto;
    list-style: none;
    width: 25%;
}

main .section2 li img {
    margin: 5px 0;
}






@media screen and (max-width:500px) {
    
}