/*----------------
css
作成日：12/17
作成者：てらしゅん
サイト名：オリジナル(有名)
----------------*/


a {
    text-decoration: none;
}



.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    margin: 0 auto;

    background-size: cover;
    background-color: #f4d9aa;
}


header {
    width: 100%;
}

header .list {
    display: flex;
    justify-content: flex-end;
    margin: 50px auto;

}

header .list li {
    list-style: none;
    padding-right: 20px;
}

header .list a {
    color: #4d3f37;
}

main {
    padding-bottom: 100px;
}

main .title {
    text-align: center;
    margin: 50px;
    font-size: 32px;
}

main .area {
    display: flex;
    flex-wrap: wrap;
}

main .section {
    width: 50%;
    position: relative;
    padding-bottom: 100px;
    height: 200px;
}

main .section .pic {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 35%;
}

main .section .content {
    width: 75%;
    margin: 0 auto 0 23%;
    text-align: center;
    vertical-align: middle;
}

main .section img {
    width: 100%;

}

main .section .background {
    background-color: white;
    width: 70%;
    border-radius: 10px;
    margin: 100px 5% 5px auto;

}

main .section .background h3 {
    padding: 30px 0;
    font-size: 15px;
    color: #934713;
    font-weight: 100;
}

main .section .background a {
    display: inline-block;
    padding-bottom: 20px;
    margin-top: 10px;
}

main .section .booktitle {
    text-align: right;
    color: #141414;
    font-size: 15px;
    margin-right: 5%;
}

.readmore {
    position: relative;
    margin: 0 auto;
    padding: 0 0 20px;
  }
  
  .readmore label {
    position: absolute;
    display: table;
    left: 50%;
    bottom: 0;
    margin: 0 auto;
    width: 200px;
    padding: 10px 0;
    color: #4E5156;
    text-align: center;
    border-radius: 5px;
    background-color: wh;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 1;
  }
  
  .readmore label::before{
    content: '続きを見る';
  }
  
  .readmore input[type="checkbox"]:checked ~ label::before {
    content: '元に戻す';
  }
  
  .readmore input[type="checkbox"]{
    display: none;
  }
  
  .readmore-content {
    position: relative;
    height: 50px;
    overflow: hidden;
    text-align: left;
  }
  
  .readmore input[type="checkbox"]:checked ~ .readmore-content {
    height: auto;
    padding-bottom: 50px;
  }

  .readmore-content::before {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: linear-gradient( rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, #fff 100%);
  }
  
  .readmore input[type="checkbox"]:checked ~ .readmore-content::before {
    display: none;
  }










.contact {
    background-color: #f8f6f1;
}

.contact h1 {
    padding-top: 100px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 32px;
}

.contact p {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 28px;
}

.contact  .text {
    padding-bottom: 25px;
    text-align: center;
    font-size: 28px;
}

.contact .button {
    margin-top: 25px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 28px;
}

.contact .input {
    text-align: center;
    border-bottom: #0097b2 3px solid;
}

.contact .input: {
    opacity: 0;
}

.contact .submit {
    padding: 4px 20px;
    background-color: #0097b2;
    color: white;
    border-radius: 30px;
}

.contact .submit:active {
    opacity: 0.5;

}






footer {
    background-color: #db8156;
}

footer .logo {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
 
}

footer .logo a {
    color: #231f20;
    font-size: 50px;
    text-align: center;
    margin-right: 20px;

}

footer .footerlist {
    display: flex;
    justify-content: center;
    margin: 50px auto;

}

footer .footerlist li {
    list-style: none;
    padding-right: 20px;
}

footer .footerlist a {
    color: #231f20;
    font-size: 20px;
}

footer p {
    font-size: 28px;
    text-align: center;
    padding-bottom: 60px;
    color: #231f20;
}

footer p:last-child {
    color: #ece6dc;
}

@media screen and (max-width: 1000px){

    
    
    main .area {
        display: inline-block;
    }

    main .area .section {
        width: 70%;
        margin-bottom: 50px;
    }
}